table {
    border-spacing: 2px;
    border-collapse: separate;
}

table.tablesorter {
    font-family: arial;
    font-size: 12pt;

    width: 100%;
    margin: 10px 0 15px;

    text-align: left;

    background-color: #cdcdcd;
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
    font-size: 8pt;

    padding: 4px;

    border: 1px solid #fff;
    background-color: #e6eeee;
}

table.tablesorter thead tr .header {
    cursor: pointer;

    background-image: url(/static/img/gif/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
}

table.tablesorter tbody td {
    padding: 4px;

    vertical-align: top;

    color: #3d3d3d;
    background-color: #fff;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/static/img/gif/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(/static/img/gif/desc.gif);
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}