{% extends 'base.html' %}
{% load static %}
{% block title %}LavAccount{% endblock %}
{% block addons_head %}
<script type="text/javascript" src="{% static 'js/landing.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
    	<p align="center" class="header-description">Веб приложение для храниения аккаунтов</p>
    	<div class="horizontal-bottom-line"></div>
        <section class="horizontal-bottom-line">
            <h2 align="center">Почему этот менеджер паролей лучший?</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Удобно 😌</h2>
                        <p>Современный и прогрессивный дизайн адаптированный под мобильные устройства.</p>
                        <p>Максимум удобства и минимум функционала, только то что нужно и ничего лишнего. Быстро сохранил и еще быстрее получил свои данные.</p>
                        <p>Зарегистрироваться вы можете <a href="{% url 'register_url' %}">здесь</a> или в верхнем меню.</p>
                        <p>После регистрации не забудь пройти маленькое обучение, чтобы быстро научиться пользоваться LavAccount. <span style="font-size: 24px;">👨‍💻</span></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Безопасно 😎</h2>
                        <p>Безопасность превыше всего, так как мы имеем дело с очень конфиденциальной информацией.</p>
                        <p>Приложение использует алгоритм шифрования AES-256, что позволяет надежно хранить ваши данные в связке с генератором сложных паролей.</p>
                        <p>Пример пароля: <span class="random-string"></span></p>
                        <p>Кроме того процесс шифрования и дешифрования происходят на стороне клиента, то есть вас. Это значит что мы получаем от вас уже зашифрованные данные и сохраняем их в надежном месте.</p>
                        <p>Более подробно о том как проходит защита ваших данных вы можете узнать <a href="{% url 'protection_url' %}">здесь</a>.</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Бесплатно? 🤔</h2>
                        <p>Да, это бесплатно!</p>
                        <p>Мы только начали работу и я надеюсь привлечь вас в круг нашей теплой аудитории.</p>
                        <p>Мы не хотим отталкивать пользователей платными подписками, пробными периодами, и прочими ограничениями.</p>
                        <p>Проект развивается на ваши щедрые пожертвования. <span style="font-size: 24px;">😍</span></p>
                        <p>Кстати, ты тоже можешь пожертвовать немного на развитие проекта <a href="{% url 'donation_url' %}">здесь</a>.</p>
                        <p>И помните, ваша поддержка и активность позволяет сервису оставаться бесплатным и доступным для всех. Давайте помогать друг другу, и делать мир вокруг нас чуточку лучше и счастливей.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<!--<div class="button-close"><i></i></div>--> <!-- Кнопка для закрытия рекламы -->
{% endblock %}