{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<link rel="stylesheet" href="{% static 'css/support.css' %}?ver={{ static_version }}" />
<link rel="stylesheet" href="{% static 'css/lk.css' %}?ver={{ static_version }}" />
<script type="text/javascript" src="{% static 'js/lk.js' %}?ver={{ static_version }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <div class="support-content">
                <aside>
                    <div class="row">
                        <div class="col-md-4 lk-block">
                            <div align="center">
                                <button class="simple-tabs" data-nav-tab="true" data-tabs-id="1">
                                    <p align="center">Профиль</p>
                                </button>
                                <button class="simple-tabs" data-nav-tab="true" data-tabs-id="2">
                                    <p align="center">История пожертвований</p>
                                </button>
                                <button class="simple-tabs" data-nav-tab="true" data-tabs-id="3">
                                    <p align="center">История авторизаций</p>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-8 lk-block lk-block_info">
                            <div class="swiper-container">
                                <div data-tabs="1" class="active" align="center">
                                    <strong>Профиль</strong>
                                    <div class="col-sm-6">
                                        <div class="card" style="width: 250px;">
                                            <div class="card-body">
                                                <strong align="center">Ваши данные</strong>
                                                <div align="center">
                                                    <p>Здравствуйте, <span style="font-weight: bold;">{{ request.user.username }}</span></p>
                                                </div>
                                                <p>Ваш почтовый адрес: <span style="font-weight: bold;">{{ request.user.email }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card" style="width: 250px;">
                                            <div class="card-body">
                                                <strong align="center">Действия</strong>
                                                <div style="margin-bottom: 5px;">
                                                    <a href="{% url 'email_change_url' %}">
                                                        <button type="submit" class="btn btn-primary btn-block bubbly-button default">Изменить почту</button>
                                                    </a>
                                                </div>
                                                <div style="margin-bottom: 5px;">
                                                    <a href="{% url 'password_change' %}">
                                                        <button type="submit" class="btn btn-primary btn-block bubbly-button default">Изменить пароль</button>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="{% url 'master_password_reset_url' %}">
                                                        <button type="submit" class="btn btn-primary btn-block bubbly-button default">Сбросить мастер пароль</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-tabs="2">
                                    <strong>История пожертвований</strong>
                                    <p>История пожертвований</p>
                                </div>
                                <div data-tabs="3">
                                    <strong>История авторизаций</strong>
                                    <p>История авторизаций</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
<input type="hidden" id="form_message" value="{{ form_message }}">
{% endblock %}