{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block addons_head %}
<link rel="stylesheet" href="{% static 'css/support.css' %}?ver={{ static_version }}" />
<link rel="stylesheet" href="{% static 'css/lk.css' %}?ver={{ static_version }}" />
<script type="text/javascript" src="{% static 'js/ajax_setup.js' %}?ver={{ static_version }}"></script>
<script type="text/javascript" src="{% static 'js/lk.js' %}?ver={{ static_version }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <div class="support-content">
                <aside>
                    <div class="row">
                        <div class="col-md-4 lk-block">
                            <div align="center">
                                <button class="simple-tabs" data-nav-tab="true" data-tabs-id="1">
                                    <p align="center">Профиль</p>
                                </button>
                                <button class="simple-tabs" data-nav-tab="true" data-tabs-id="2">
                                    <p align="center">История пожертвований</p>
                                </button>
                                <button class="simple-tabs" data-nav-tab="true" data-tabs-id="3">
                                    <p align="center">История авторизаций</p>
                                </button>
                                {% if request.user.is_superuser %}
                                <button class="simple-tabs" data-nav-tab="true" data-tabs-id="4">
                                    <p align="center">Настройки сайта</p>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8 lk-block lk-block_info">
                            <div class="swiper-container">
                                <div class="js-swiper-tabs" data-tabs="1" align="center">
                                    <strong>Профиль</strong>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <strong align="center">Ваши данные</strong>
                                                <div align="center">
                                                    <p>Здравствуйте, <span style="font-weight: bold;">{{ request.user.username }}</span></p>
                                                </div>
                                                <p>Ваш почтовый адрес: <span style="font-weight: bold;">{{ request.user.email }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <strong align="center">Действия</strong>
                                                <div style="margin-bottom: 5px;">
                                                    <a href="{% url 'email_change_url' %}">
                                                        <button type="submit" class="btn btn-primary btn-block bubbly-button default">Изменить почту</button>
                                                    </a>
                                                </div>
                                                <div style="margin-bottom: 5px;">
                                                    <a href="{% url 'password_change' %}">
                                                        <button type="submit" class="btn btn-primary btn-block bubbly-button default">Изменить пароль</button>
                                                    </a>
                                                </div>
                                                <div style="margin-bottom: 20px;">
                                                    <a href="{% url 'master_password_reset_url' %}">
                                                        <button type="submit" class="btn btn-primary btn-block bubbly-button default">Сбросить мастер пароль</button>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="{% url 'logout' %}">
                                                        <button type="submit" class="btn btn-primary btn-block bubbly-button default">‹ Выход ›</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-swiper-tabs" data-tabs="2">
                                    <strong>История пожертвований</strong>
                                    <p>История пожертвований</p>
                                </div>
                                <div class="js-swiper-tabs" data-tabs="3">
                                    <strong>История авторизаций</strong>
                                    {% for history in login_history %}
                                    <div class="auth">
                                        <div class="auth-ip" number="{{ forloop.counter }}">
                                            IP адрес: {{ history.ip }}
                                        </div>
                                        <div class="auth-top">
                                            <div class="auth-display">
                                                {{ history.system }}
                                            </div>
                                            <span class="auth-display">|</span>
                                            <div class="js-auth-location auth-display" number="{{ forloop.counter }}">
                                                {{ history.location }}
                                            </div>
                                        </div>
                                        <div class="auth-bottom">
                                            <div class="auth-display">
                                                {{ lh_date|get_item_dict:history.id }}
                                            </div>
                                            <span class="auth-display">|</span>
                                            <div class="auth-display">
                                                {{ history.browser }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% if request.user.is_superuser %}
                                <div class="js-swiper-tabs" data-tabs="4">
                                    <strong>Настройки сайта</strong>
                                    <div class="container">
                                        <input type="checkbox" id="toggle-button" class="toggle-button">
                                        <label for="toggle-button" class="toggle-button_text">Закрыть сайт</label>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
<input type="hidden" id="form_message" value="{{ form_message }}">
{% if request.user.is_superuser %}
<script type="text/javascript">
$(function() {
    {% if site_in_service == 'true' %}
    $('#toggle-button').attr('checked', 'checked');
    {% endif %}

    $('#toggle-button').on('change', function() {
        if (!$(this).attr('checked')) {
            site_in_service_switch(this, 'true');
        } else {
            site_in_service_switch(this, 'false');
        }
    });

    function site_in_service_switch(switch_obj, toggle_checked) {
        preload_show();
        $.ajax({
            url: 'site_in_service_switch/',
            type: 'POST',
            data: {
                checked: toggle_checked
            },
            success: function(result) {
                let account_id = result['account_id'];

                if (result['status'] == 'success') {
                    if (result['checked'] == 'true') {
                        switch_obj.setAttribute("checked", "checked");
                        $('.navbar-brand').removeClass('logo');
                        $('.navbar-brand').addClass('logo_site-close');
                        $('.navbar-brand').text('Сайт закрыт');
                    } else {
                        switch_obj.removeAttribute("checked");
                        $('.navbar-brand').removeClass('logo_site-close');
                        $('.navbar-brand').addClass('logo');
                        $('.navbar-brand').text('LavAccount');
                    }
                } else if (result['result'] == 'SiteSetting.DoesNotExist') {
                    swal('Ошибка', 'Настройка не найдена');
                } else {
                    swal('Ошибка', result['result']);
                }

                preload_hide();
            }
        });
    }
});
</script>
{% endif %}
{% endblock %}