{% extends 'base.html' %}
{% load static %}
{% block title %}Логи{% endblock %}
{% block content %}
<div class="container">
    <h2>Логи</h2>
    {% for key, loginfo in logs %}
    <div data-id="{{ key }}" data-user="{{ loginfo.user }}">
        <div class="horizontal-bottom-line"></div>
        <p>
            {% for key, item in loginfo.items %}
            {% if key == 'traceback' %}
            <pre>{{ item }}</pre>
            {% else %}
            <span style="font-weight: 800;">{{ key }}:</span>
            {{ item }}
            {% endif %}
            {% endfor %}
        </p>
    </div>
    {% endfor %}
    <div class="horizontal-bottom-line"></div>
</div>
{% endblock %}