{% extends 'base.html' %}
{% load static %}
{% block title %}Сброс аккаунта{% endblock %}
{% block addons_head %}
<script type="text/javascript" src="{% static 'js/landing.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section class="horizontal-bottom-line" style="margin-top: 70px;">
            <h2 align="center">Сброс аккаунта</h2>
            <div class="container">
                <div align="center">
                    
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}