{% extends 'base.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">Сброс пароля</h2>
            <div class="row flex nomargin">
                {% load crispy_forms_tags %}
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}"> {{ form|crispy }}
                            <button type="submit" class="btn btn-primary btn-block bubbly-button">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}