<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="X-UA-Compatible">
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'css/addons/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?ver=1">
    <link href="{% static 'img/ico/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <script src="{% static 'js/addons/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/addons/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/addons/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sweet-alert.js' %}"></script>
    {% block addons_head %}{% endblock %}
</head>

<body data-master_password="{{ master_password }}">
    {% block content %}{% endblock %}
    <footer></footer>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>

</html>