<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Описание страницы. Не менее 160 символов. " />
    <meta name="keywords" content="Здесь указываем список ключевых слов, разделенные запятой." />
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'css/addons/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?ver=1">
    <link href="{% static 'img/ico/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <script src="{% static 'js/addons/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/addons/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/addons/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sweet-alert.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block addons_head %}{% endblock %}
    {% block noscript %}
    <noscript>
        <meta http-equiv="refresh" content="0; url={% url 'noscript_url' %}" />
    </noscript>
    {% endblock %}
</head>

<body data-master_password="{{ master_password }}">
    <header class="horizontal-bottom-line">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if request.user.is_authenticated %}
                    <div class="logo navbar-brand">• {{ request.user.username }}</div>
                    {% else %}
                    <a class="logo navbar-brand" href="{% url 'home_url' %}">LavAccount</a>
                    {% endif %}
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right account-nav">
                        <li>
                            <a data-toggle="modal" data-target="#CreateAccountModal" class="top-buttons">
                                <p>Добавить аккаунт</p>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#MasterPasswordModal" class="top-buttons">
                                <p>Изменить пароль</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout_url' %}">
                                <p>‹ Выход ›</p>
                            </a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'login_url' %}"><button class="btn btn-primary bubbly-button btn-round">Войти</button></a>
                        </li>
                        <li>
                            <a href="{% url 'register_url' %}"><button class="btn btn-primary bubbly-button btn-round" style="width: 180px;">Зарегистрироваться</button></a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer></footer>
    <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
</body>

</html>