@import url('https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    --colorscheme: #1e9de7;
    --colorschemehover: #1986c5;
}

::-webkit-scrollbar-button {
    width: 6px;
    height: 0;

    background-image: url('');
    background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow: 0 0 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #d9d9d9;
    background-image: url('https://yraaa.ru/_pu/24/59610063.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 1px #fff inset;
}

::-webkit-resizer {
    width: 7px;
    height: 0;

    background-image: url('');
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 11px;
}


body {
    padding-right: 0 !important;
}

header {
    font-size: 2em;
    margin-bottom: 51px;
}

div {
    cursor: default;
}

tr {
    cursor: pointer;
}

tbody tr {
    height: 40px;
}

label {
    font-weight: bold;

    margin-top: .5rem;
    margin-bottom: 0;
}

button:focus {
    outline: 0 !important;
}

p,
h2,
h4,
strong,
label,
td,
th,
input,
button,
a,
.auth,
.popover-title,
.popover-content,
.simple-tabs {
    font-family: Comfortaa;
}

body.modal-open {
    overflow: hidden;
}

.h2,
h2 {
    font-size: 28px;
}

.logo {
    color: #74a9ff !important;
    text-shadow: #3294e3 0 0 10px;
    font-family: Mali;
    font-size: 28px;
}

.btn {
    font-weight: 600;
}

.logo:hover {
    color: white !important;
}

.logo_site-close {
    color: #ff0000 !important;
    text-shadow: #ff3333 0 0 10px;
    font-weight: 800;
    font-size: 22px;
}

.logo_site-close:hover {
    color: white !important;
}

.header-description {
    color: grey;
    font-size: 3rem;
}

.btn-reshow_modal {
    margin-top: 100px;
    display: none;
}

.copyright {
    margin-top: 1em;
    cursor: default;
}

.popover-navigation {
    padding: 9px !important;
}

.popover-navigation *[data-role="end"] {
    float: initial !important;
}

.terms_confirm-text {
    font-size: 9px;
    color: #656565;
    line-height: 12px;
    text-align: center;
}

.button-close {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 10;
    background: #d7eeff;
    border-radius: 2px;
    right: 5px;
    top: 5px;
    display: block;
}

.button-close::before {
    -ms-transform: rotate(-45deg) translateX(-50%);
    transform: rotate(-45deg) translateX(-50%);
    left: 50%;
    top: 5%;
}

.button-close::after {
    -ms-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
    top: -62.5%;
}

.button-close::before,
.button-close::after {
    height: 75%;
    background: #99acc2;
    width: 3px;
    content: '';
    display: block;
    position: relative;
    border-radius: 10px;
    left: 50%;
}

.footer-policy_terms {
    list-style: none outside none;
    padding-left: 0;
}

.footer-urls a {
    color: #849292;
    text-decoration: none;
}

.footer-urls_privacy-terms {
    width: 270px;
}

.footer-urls_privacy-terms p {
    font-size: 12px;
}

.footer-urls_privacy-terms a:hover {
    color: black;
}

.confirm_email-notification {
    background-color: #cce7ff;
    width: 100%;
    margin-bottom: -20px;
}

.confirm_email-notification p {
    text-align: center;
    padding: 10px 0 10px;
}

#cookie_notification {
    z-index: 1;

    position: fixed;
    bottom: 15px;
    left: 50%;

    display: none;

    width: 500px;
    max-width: 90%;
    padding: 10px;

    transform: translateX(-50%);

    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .4);

    justify-content: space-between;
    align-items: flex-end;
}

#cookie_notification p {
    font-size: 10px;

    margin: 0;

    text-align: left;

    max-width: 90%;
}

#cookie_notification button {
    float: right;
}

.share-container a:hover {
    color: #ffffff;
}

.position-login-show_password {
    top: 149px;
    left: 85%;
}

.position-show_password {
    top: 223px;
    left: 72%;
}

.position-generate_password {
    top: 223px;
    left: 85%;
}

.in-password_additional_button {
    position: absolute;

    border: none;
    background: none;

    padding: 0;

    transition: transform ease-in .1s, box-shadow ease-in .25s;
}

.in-password_additional_button:active {
    transform: scale(.9);
}

.registration-container {
    margin-top: 56px;
}

#password_info {
    font-size: .875em;

    position: absolute;
    right: 55px;
    bottom: 0px;

    display: none;

    width: 250px;
    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fefefe;
    box-shadow: 0 1px 3px #ccc;
}

#password_info h4 {
    font-weight: normal;

    margin: 0 0 10px 0;
    padding: 0;
}

.invalid {
    color: #ec3f41;
}

.valid {
    color: #3a7d34;
}

.input-invalid {
    border-color: red !important;
    box-shadow: 0 0px 5px red !important;
}

.td-favicon {
    width: 32px;
    padding: 8px !important;
}

.delimiter {
    border-left: 1px solid white;
}

.flex {
    display: flex;

    justify-content: space-between;
}

.flex-buttons button {
    margin-right: 10px;
}

.share-button:active {
    transition: transform ease-in .1s, box-shadow ease-in .25s;
    transform: scale(.9);
}

#Accounts_table {
    border-radius: 4px;
}

.account-nav {
    margin-right: 10px;
}

.account-nav p {
    font-size: 16px;
    text-align: center;
    margin: 5px 0 5px;
}

.account-nav div {
    margin-left: 10px;
}

.account-nav a {
    cursor: pointer;
}

.account-nav li {
    height: 50px;
}

.table-hover tbody tr:hover>td {
    background-color: #eceeef;
}

#in-search {
    margin-top: 10px;
}

.header-icons {
    position: fixed;
    z-index: 100;

    width: 100%;
    margin-top: -6px;

    background: #333;
}

.account-name {
    float: left;
}

.logout {
    float: right;
}

.logout a {
    color: white;
}

.body-chars {
    font-size: 22px;

    margin: 2px 5px 2px 5px;

    color: white;
}

.td-description {
    word-break: break-word;
}

.horizontal-bottom-line {
    margin: 6px 6px 0 6px;

    border-bottom: 1px solid #333;
}

.account_container {
    display: none;

    margin-top: 44px;
}

.card {
    position: relative;

    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    min-width: 0;

    word-wrap: break-word;

    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: #fff;
    background-clip: border-box;

    -ms-flex-direction: column;
}

.card-body {
    min-height: 1px;
    padding: 1.25rem;

    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.card-title {
    margin-bottom: .75rem;
}

.btn-send {
    float: right;

    margin-top: 10px;
}

.btn-round {
    width: 130px;

    border-radius: 20px;
}

.td-btn {
    width: 10px;
}

.td-hide {
    display: none;
}

.btn-close {
    margin-top: -7px !important;
    padding: 14px 20px !important;
    margin-right: -7px;
}

.btn-close-create-account {
    margin-top: -39px !important;
}

.modal-title {
    margin: 7px 0 0 20px;
}

.modal-header-create-account {
    height: 50px;
    padding: 7px;
}

.modal-body-create-account {
    height: 290px;
    padding: 0 15px 0 15px;
}

.modal-body-show-account {
    padding: 0 15px 5px 15px;
}

.modal-footer-show-account {
    padding: 7px;
}

.modal-body-master-password {
    height: 232px;
    padding: 0 15px 0 15px;
}

.modal-body-enter-password {
    height: 114px;
    padding: 0 15px 0 15px;
}

.bubbly-button {
    position: relative;

    transition: transform ease-in .1s, box-shadow ease-in .25s;

    background-color: #2e6da4;
    box-shadow: 0 2px 25px rgba(46, 109, 164, .5);

    -webkit-appearance: none;
}

.bubbly-button:before,
.bubbly-button:after {
    position: absolute;
    z-index: -1000;
    left: -20%;

    display: block;

    width: 140%;
    height: 100%;

    content: '';
    transition: all ease-in-out .5s;

    background-repeat: no-repeat;
}

.bubbly-button:before {
    top: -75%;

    display: none;

    background-image: radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, transparent 20%, #2e6da4 20%, transparent 30%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, transparent 10%, #2e6da4 15%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    bottom: -75%;

    display: none;

    background-image: radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, transparent 10%, #2e6da4 15%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%), radial-gradient(circle, #2e6da4 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(.9);

    background-color: #286090;
    box-shadow: 0 2px 25px rgba(46, 109, 164, .5);
}

.bubbly-button.animate:before {
    z-index: 10000;

    display: block;

    animation: topBubbles ease-in-out .75s forwards;
}

.bubbly-button.animate:after {
    z-index: 10000;

    display: block;

    animation: bottomBubbles ease-in-out .75s forwards;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 576px) {
    #cookie_notification.show {
        display: flex;
    }
}

@media (max-width: 575px) {
    #cookie_notification.show {
        display: block;

        text-align: left;
    }
}

@media (max-width: 354px) {
    #btn_create_account_modal {
        margin-bottom: 5px;
    }

    .btn-bottom-show-account {
        width: 100px;
    }

    .modal-title {
        margin: 7px 0px 0px 10px;
    }

    .col-xs-12 {
        padding: 0;
    }

    .h2,
    h2 {
        font-size: 21px;
    }
}


@media (max-width: 313px) {
    .btn-close_account-modal {
        position: absolute;
        left: calc(50% - 20px);
        top: 360px;
        margin-right: 0;
        margin-top: 0;
        padding: 0;
        opacity: 0.6;
    }
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0 80%, 0 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0;
    }

    50% {
        background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0;
    }

    100% {
        background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }
}

/* PRELOAD */

.preload {
    position: fixed;
    z-index: 1090;
    top: 0;
    left: 0;

    visibility: visible;

    width: 100%;
    height: 100%;

    transition: 1s all;

    opacity: 1;
    background: black;
}

.preload-done {
    visibility: hidden !important;

    transition: .4s;

    opacity: 0 !important;
}

.windows8 {
    position: relative;

    visibility: visible;

    width: 80px;
    height: 80px;
    margin: auto;

    opacity: 1;

    top: 50%;
}

.windows8 .wBall {
    position: absolute;

    width: 76px;
    height: 76px;

    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-animation: orbit 6.050000000000001s infinite;
    -moz-animation: orbit 6.050000000000001s infinite;
    -ms-animation: orbit 6.050000000000001s infinite;
    -o-animation: orbit 6.050000000000001s infinite;
    animation: orbit 6.050000000000001s infinite;

    opacity: 0;
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    border-radius: 10px;
    background: #fff;
}

.windows8 #wBall_1 {
    -webkit-animation-delay: 1.32s;
    -moz-animation-delay: 1.32s;
    -ms-animation-delay: 1.32s;
    -o-animation-delay: 1.32s;
    animation-delay: 1.32s;
}

.windows8 #wBall_2 {
    -webkit-animation-delay: .26s;
    -moz-animation-delay: .26s;
    -ms-animation-delay: .26s;
    -o-animation-delay: .26s;
    animation-delay: .26s;
}

.windows8 #wBall_3 {
    -webkit-animation-delay: .53s;
    -moz-animation-delay: .53s;
    -ms-animation-delay: .53s;
    -o-animation-delay: .53s;
    animation-delay: .53s;
}

.windows8 #wBall_4 {
    -webkit-animation-delay: .79s;
    -moz-animation-delay: .79s;
    -ms-animation-delay: .79s;
    -o-animation-delay: .79s;
    animation-delay: .79s;
}

.windows8 #wBall_5 {
    -webkit-animation-delay: 1.06s;
    -moz-animation-delay: 1.06s;
    -ms-animation-delay: 1.06s;
    -o-animation-delay: 1.06s;
    animation-delay: 1.06s;
}

@keyframes orbit {
    0% {
        z-index: 99;

        transform: rotate(180deg);
        animation-timing-function: ease-out;

        opacity: 1;
    }

    7% {
        transform: rotate(300deg);
        animation-timing-function: linear;

        opacity: 1;

        origin: 0;
    }

    30% {
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;

        opacity: 1;

        origin: 7%;
    }

    39% {
        transform: rotate(645deg);
        animation-timing-function: linear;

        opacity: 1;

        origin: 30%;
    }

    70% {
        transform: rotate(770deg);
        animation-timing-function: ease-out;

        opacity: 1;

        origin: 39%;
    }

    75% {
        transform: rotate(900deg);
        animation-timing-function: ease-out;

        opacity: 1;

        origin: 70%;
    }

    76% {
        transform: rotate(900deg);

        opacity: 0;
    }

    100% {
        transform: rotate(900deg);

        opacity: 0;
    }
}


@-o-keyframes orbit {
    0% {
        z-index: 99;

        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;

        opacity: 1;
    }

    7% {
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;

        opacity: 1;

        -o-origin: 0;
    }

    30% {
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;

        opacity: 1;

        -o-origin: 7%;
    }

    39% {
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;

        opacity: 1;

        -o-origin: 30%;
    }

    70% {
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;

        opacity: 1;

        -o-origin: 39%;
    }

    75% {
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;

        opacity: 1;

        -o-origin: 70%;
    }

    76% {
        -o-transform: rotate(900deg);

        opacity: 0;
    }

    100% {
        -o-transform: rotate(900deg);

        opacity: 0;
    }
}

@-ms-keyframes orbit {
    0% {
        z-index: 99;

        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;

        opacity: 1;
    }

    7% {
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;

        opacity: 1;

        -ms-origin: 0;
    }

    30% {
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;

        opacity: 1;

        -ms-origin: 7%;
    }

    39% {
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;

        opacity: 1;

        -ms-origin: 30%;
    }

    70% {
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;

        opacity: 1;

        -ms-origin: 39%;
    }

    75% {
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;

        opacity: 1;

        -ms-origin: 70%;
    }

    76% {
        -ms-transform: rotate(900deg);

        opacity: 0;
    }

    100% {
        -ms-transform: rotate(900deg);

        opacity: 0;
    }
}

@-webkit-keyframes orbit {
    0% {
        z-index: 99;

        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;

        opacity: 1;
    }

    7% {
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;

        opacity: 1;

        -webkit-origin: 0;
    }

    30% {
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;

        opacity: 1;

        -webkit-origin: 7%;
    }

    39% {
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;

        opacity: 1;

        -webkit-origin: 30%;
    }

    70% {
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;

        opacity: 1;

        -webkit-origin: 39%;
    }

    75% {
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;

        opacity: 1;

        -webkit-origin: 70%;
    }

    76% {
        -webkit-transform: rotate(900deg);

        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(900deg);

        opacity: 0;
    }
}

@-moz-keyframes orbit {
    0% {
        z-index: 99;

        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;

        opacity: 1;
    }

    7% {
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;

        opacity: 1;

        -moz-origin: 0;
    }

    30% {
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;

        opacity: 1;

        -moz-origin: 7%;
    }

    39% {
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;

        opacity: 1;

        -moz-origin: 30%;
    }

    70% {
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;

        opacity: 1;

        -moz-origin: 39%;
    }

    75% {
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;

        opacity: 1;

        -moz-origin: 70%;
    }

    76% {
        -moz-transform: rotate(900deg);

        opacity: 0;
    }

    100% {
        -moz-transform: rotate(900deg);

        opacity: 0;
    }
}


/* END PRELOADER */