{% extends 'base.html' %}
{% load i18n static %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <main>
        <section>
            <h2 align="center">{{ title }}</h2>
            <p>{% trans 'Забыли пароль? Введите ниже свой адрес электронной почты, и мы пришлем вам инструкции по установке нового адреса электронной почты.' %}</p>
            <div class="row flex nomargin">
                {% load crispy_forms_tags %}
                <div class="card">
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            <fieldset class="module aligned">
                                <input type="hidden" name="next" value="{{ next }}"> {{ form|crispy }}
                                <button type="submit" class="btn btn-primary btn-block bubbly-button">{% trans 'Reset my password' %}</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="horizontal-bottom-line"></div>
    </main>
</div>
{% endblock %}