{% load i18n %}{% autoescape off %}
{% blocktrans %}Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте {{ site_name }}, которая связана с этим адресом электронной почты.{% endblocktrans %}

{% trans "Пожалуйста, перейдите на эту страницу и введите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Ваше имя пользователя, если вы забыли:' %} {{ user.get_username }}

{% trans "Спасибо, что используете наш сайт!" %}

{% blocktrans %}Команда сайта {{ site_name }}{% endblocktrans %}

{% endautoescape %}
